*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(imag.jpg);
    background-size: cover;
    background-position: center;
}
.pagecontainer{
    width: 420px;
    background: transparent;
    border: 20px solid grey;
    backdrop-filter: blur(5px);
    color: white;
    border: 10px;
    padding: 40px 30px;
}
.pagecontainer h1{
    font-size: 45px;
    text-align: center;
}
.inputbox{
    width: 100%;
    position: relative;
    height: 50px;
    margin: 30px 0px;
}
.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid gray;
    border-radius: 35px;
    font: 20px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.inputbox input::placeholder{
    color: white;
}
.inputbox i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.rememberme{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0px 15px;
}
.rememberme label input{
    accent-color: white;
    margin-right: 3px;
}
.rememberme a{
    color: white;
    text-decoration: none;
}
.rememberme a:hover{
    text-decoration: underline;
}
.button{
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
}
.button a{
    color: black;
    text-decoration: none;
}
.Register-link{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin: 20px 0 15px;
}
.Register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.Register-link p a:hover{
    text-decoration: underline;
     
}

